* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  flex-wrap: wrap;
  width: 940px;
  height: 100vh;

  background: #f8f8f8;
  border-radius: 12px;
}

.board div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.board-dropzone {
  height: 5px;
  /* transition: height 0.15s; */
}
.board-dropzone-active {
  background-color: rgb(0, 229, 255);
}
.column-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 12px;
  gap: 10px;
  width: fit-content;
  height: auto;

  background: #00ffc3;
  border-radius: 20px;
}
.column-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 284px;
  height: 109px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
p {
  display: block;
  margin: 0;
  padding: 16px;
  width: 100%;
  text-align: start;
}
p:focus {
  outline: none;
}
